
    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink("Register As PG", "RegisterPG", "Home", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
        <li>@Html.ActionLink("Register As Client", "RegisterClient", "Home", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
        <li>@Html.ActionLink("Log in", "Login", "Login", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    </ul>

