
@{
    ViewBag.Title = "WelcomeAdmin";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Welcome Admin @Session["User_Name"].ToString()</h2>



<br/>
<br /><br /><br /><br /><br />

<section>
<p style="font-size:30px ; color :black">
    @Html.ActionLink("Show All Photographer", "ShowPG", "Admin")
</p>
<br /><br /><br /><br /><br /><br /><br />
<p style="font-size:30px; color:black">
    @Html.ActionLink("Edite My Profile", "Edit", "Admin")
</p>
    </section>

<style>


    
    p {
    
    position:center;
    font-size:40;
    color:black;

    
    }
    section {
    
    text-align: center;
      font-style:italic;
      font-size:x-large;
    
    }
</style>
