
@{
    ViewBag.Title = "WelcomeClient";
    Layout = "~/Views/Shared/_Layout.cshtml";
}




<h2>Welcome @Session["User_Name"].ToString()</h2>


<p style="font-size:30px">
    @Html.ActionLink("Edite My Profile", "Edit", "Client")
</p>