@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>
<body>
    <div class="block">
        <!-- Band Description -->
        <section class="container center content" style="max-width:600px">
            <h2 class="wide">Photographer Reservation</h2>
            <p class="opacity"><i>Simple Description about Our web site</i></p>
            <h2 class="justify">We have four Types of Users.</h2>
            <h3>
                1. Admin </br>
                2. Photographer </br>
                3. Client
                4. Guest
            </h3>
            <p>___________________________________________________________________________________________</p>


            <h4>Photographer</h4>
            <p>
                .Photographer Signup as Photographer... fill his data and and Categories & their Prices
                .Photographer can accept or refuse Client's Request.
            </p>
            <p>___________________________________________________________________________________________</p>
            <h4>Admin</h4>
            <p>
                .Admin can delete photographer from System.
            </p>
            <p>___________________________________________________________________________________________</p>
            <h4>Guest</h4>
            <p>
                .Guest can show homepage and Photographer's Profiles without Signup in our system.
            </p>
            <h4>Client</h4>
            <p>
                .Client signup as client & reserve to each photographer that he need....
            </p><br />
        </section>

    </div>
    <script>
    </script>
    <style>
        .block {
            margin-top: 70px;
            margin-bottom: 80px;
            box-sizing: border-box;
            background: rgba(0,0,0,0.2);
            border-radius: 50px;
        }
    </style>
</body>
